@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@100&display=swap');        


#webHead{
    font-family: Arial;
    font-size:  1.3em;
    color: #e4e4e4;
}
.webDisplay{
    display:inline;
}
.webImg{
    height: 110px;
    margin-left: 10px;
    border: 1px solid #050505;
}