@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@100&display=swap');        


#webHead{
    font-family: Arial;
    font-size:  1.3em;
}
.webDisplay{
    display:inline;
}
.webImg{
    height: 100px;
    margin-right: 10px;
    border: 1px solid #855959;
}