.icon{
    width: 55px;
}
/* .weather{
    font-size: 16px;
    font-family: Arial;

    color: rgb(230, 252, 255);
    margin: 0;   
}

.temp{
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    color: #291608;
    padding-top: 5px;
    margin-top: 0;
       
}

.containWeather{ 
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: auto; 
    padding: 0 10px;
    background:#83BEC5;
    position: fixed;
    
} */
.city{
    color: #8a8a8a;
    text-shadow: 2px 2px 5px rgb(0, 0, 0, 0.8);
    font-family: Arial;
    font-size: 0.9rem;
    margin: 0;
    padding-top: 10px;
}
.weather{
    font-size: 16px;
    font-family: Arial;

    color: rgb(194, 220, 224);
    margin: 0;   
}

.temp{
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    color: #0085a7;
    text-shadow: 2px 2px 5px rgb(0, 0, 0, 0.8);
    padding-top: 5px;
    margin-top: 0;
       
}

.containWeather{ 
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: auto; 
    padding: 0 10px;
    background: rgb(0, 15, 19);
    box-shadow: 2px 2px 15px rgb(0, 0, 0, 0.8);
    position: fixed;
    
}
